/* line 5, ../sass/themes/_index.scss */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 14, ../sass/themes/_index.scss */
ol, ul {
  list-style: none;
}

/* line 18, ../sass/themes/_index.scss */
.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* line 24, ../sass/themes/_index.scss */
.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Custom Button Styles */
/* line 33, ../sass/themes/_index.scss */
.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 39, ../sass/themes/_index.scss */
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 46, ../sass/themes/_index.scss */
.btn-light {
  border-radius: 0;
  color: #fff;
  background-color: #333;
}

/* line 52, ../sass/themes/_index.scss */
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #000;
  background-color: #fff;
}

/* Custom Horizontal Rule */
/* line 61, ../sass/themes/_index.scss */
hr.small {
  max-width: 100px;
}

/* Header */
/* line 69, ../sass/themes/_index.scss */
.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(/public/images/flicker-1.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* Side Menu */
}
/* line 81, ../sass/themes/_index.scss */
.header #sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  transform: translateX(250px);
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
/* line 97, ../sass/themes/_index.scss */
.header .sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 106, ../sass/themes/_index.scss */
.header .sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
/* line 111, ../sass/themes/_index.scss */
.header .sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16pt;
}
/* line 118, ../sass/themes/_index.scss */
.header .sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
/* line 124, ../sass/themes/_index.scss */
.header .sidebar-nav li a:active,
.header .sidebar-nav li a:focus {
  text-decoration: none;
}
/* line 129, ../sass/themes/_index.scss */
.header .sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}
/* line 135, ../sass/themes/_index.scss */
.header .sidebar-nav > .sidebar-brand a {
  color: #fff;
}
/* line 139, ../sass/themes/_index.scss */
.header .sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
/* line 144, ../sass/themes/_index.scss */
.header #menu-toggle {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
}
/* line 151, ../sass/themes/_index.scss */
.header #sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
/* line 161, ../sass/themes/_index.scss */
.header .toggle {
  margin: 5px 5px 0 0;
}
/* line 164, ../sass/themes/_index.scss */
.header .fb-hover {
  position: absolute;
  padding: 3px;
  display: none;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
/* line 175, ../sass/themes/_index.scss */
.header li:nth-child(1) div {
  margin-left: -10px;
}
/* line 180, ../sass/themes/_index.scss */
.header li:nth-child(3) div {
  margin-left: -10px;
}
/* line 185, ../sass/themes/_index.scss */
.header li:nth-child(4) div {
  margin-left: -50px;
}
/* line 190, ../sass/themes/_index.scss */
.header a:hover + div {
  display: block;
}
/* line 193, ../sass/themes/_index.scss */
.header .not-active {
  cursor: default;
}

/* About */
/* line 201, ../sass/themes/_index.scss */
.about {
  padding: 50px 0;
  background-image: url(/public/images/plainBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
/* line 209, ../sass/themes/_index.scss */
.about .aboutMe .ber {
  width: 230px;
  height: 230px;
}
/* line 213, ../sass/themes/_index.scss */
.about .aboutMe h1 {
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  color: #332d29;
}
/* line 219, ../sass/themes/_index.scss */
.about .aboutMe hr {
  width: 140px;
  height: 8px;
  background: #80746f;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 228, ../sass/themes/_index.scss */
.about .aboutMe p {
  text-align: justify;
  color: #80746f;
}
/* line 234, ../sass/themes/_index.scss */
.about .basicInfo table {
  margin-top: 40px;
}
/* line 236, ../sass/themes/_index.scss */
.about .basicInfo table th {
  padding: 8px;
  vertical-align: top;
}
/* line 239, ../sass/themes/_index.scss */
.about .basicInfo table th img {
  width: 32px;
}
/* line 243, ../sass/themes/_index.scss */
.about .basicInfo table td {
  padding: 8px;
}
/* line 245, ../sass/themes/_index.scss */
.about .basicInfo table td p {
  font-size: 16pt;
  color: #80746f;
}
@media only screen and (min-width: 320px) {
  /* line 251, ../sass/themes/_index.scss */
  .about .basicInfo table td {
    padding: 8px;
  }
  /* line 253, ../sass/themes/_index.scss */
  .about .basicInfo table td p {
    font-size: 18px;
    color: #80746f;
  }
}
/* line 260, ../sass/themes/_index.scss */
.about .basicInfo .resume {
  margin-top: 70px;
  text-align: center;
}
/* line 263, ../sass/themes/_index.scss */
.about .basicInfo .resume .signature {
  margin: 10px 0 20px 0;
}
/* line 267, ../sass/themes/_index.scss */
.about .basicInfo .resume button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 282, ../sass/themes/_index.scss */
.about .basicInfo .resume button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00b36b;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 305, ../sass/themes/_index.scss */
.about .basicInfo .resume button:hover:before, .about .basicInfo .resume button:focus:before, .about .basicInfo .resume button:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* line 311, ../sass/themes/_index.scss */
.about .basicInfo .resume .downloadBtn {
  font-size: 16pt;
  width: 60%;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px 0 20px 0;
  margin-bottom: 30px;
  background: #2D3D4D;
  color: #fff;
}

/* Resume */
/* line 329, ../sass/themes/_index.scss */
#resume {
  width: 100%;
  margin-top: -15px;
  background-image: url(/public/images/flicker-3.jpg);
  background-color: rgba(48, 62, 73, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
/* line 337, ../sass/themes/_index.scss */
#resume h1 {
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 25px 0 0 0;
}
/* line 345, ../sass/themes/_index.scss */
#resume hr {
  width: 140px;
  height: 8px;
  background: #d7e4ed;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 356, ../sass/themes/_index.scss */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
/* line 361, ../sass/themes/_index.scss */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* line 367, ../sass/themes/_index.scss */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 375, ../sass/themes/_index.scss */
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  /* line 367, ../sass/themes/_index.scss */
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  /* line 392, ../sass/themes/_index.scss */
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

/* line 399, ../sass/themes/_index.scss */
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
/* line 402, ../sass/themes/_index.scss */
.cd-timeline-block::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
/* line 408, ../sass/themes/_index.scss */
.cd-timeline-block:first-child {
  margin-top: 0;
}
/* line 412, ../sass/themes/_index.scss */
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  /* line 399, ../sass/themes/_index.scss */
  .cd-timeline-block {
    margin: 4em 0;
  }
  /* line 419, ../sass/themes/_index.scss */
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  /* line 423, ../sass/themes/_index.scss */
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

/* line 429, ../sass/themes/_index.scss */
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
/* line 438, ../sass/themes/_index.scss */
.cd-timeline-img img {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -18px;
}
/* line 449, ../sass/themes/_index.scss */
.cd-timeline-img.cd-picture {
  background: #2D3D4D;
}
/* line 453, ../sass/themes/_index.scss */
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
/* line 457, ../sass/themes/_index.scss */
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  /* line 429, ../sass/themes/_index.scss */
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  /* line 471, ../sass/themes/_index.scss */
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  /* line 475, ../sass/themes/_index.scss */
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    animation: cd-bounce-1 .6s;
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* line 498, ../sass/themes/_index.scss */
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
/* line 506, ../sass/themes/_index.scss */
.cd-timeline-content::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
/* line 512, ../sass/themes/_index.scss */
.cd-timeline-content h2 {
  color: #80746f;
}
/* line 516, ../sass/themes/_index.scss */
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
/* line 520, ../sass/themes/_index.scss */
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
/* line 524, ../sass/themes/_index.scss */
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
  text-align: justify;
}
/* line 530, ../sass/themes/_index.scss */
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: #ffffff;
  border-radius: 0.25em;
}
/* line 537, ../sass/themes/_index.scss */
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
/* line 542, ../sass/themes/_index.scss */
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
  color: #fff;
}
/* line 549, ../sass/themes/_index.scss */
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
}
@media only screen and (min-width: 320px) {
  /* line 560, ../sass/themes/_index.scss */
  .cd-timeline-content h2 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  /* line 564, ../sass/themes/_index.scss */
  .cd-timeline-content p {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
  }
  /* line 569, ../sass/themes/_index.scss */
  .cd-timeline-content li h3 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  /* line 573, ../sass/themes/_index.scss */
  .cd-timeline-content li span {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
  }
}
@media only screen and (min-width: 768px) {
  /* line 580, ../sass/themes/_index.scss */
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
  }
  /* line 585, ../sass/themes/_index.scss */
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
  }
  /* line 590, ../sass/themes/_index.scss */
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 498, ../sass/themes/_index.scss */
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  /* line 601, ../sass/themes/_index.scss */
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  /* line 608, ../sass/themes/_index.scss */
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  /* line 612, ../sass/themes/_index.scss */
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    color: #fff;
    font-size: 16px;
  }
  /* line 621, ../sass/themes/_index.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  /* line 624, ../sass/themes/_index.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }
  /* line 632, ../sass/themes/_index.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  /* line 636, ../sass/themes/_index.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  /* line 643, ../sass/themes/_index.scss */
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  /* line 647, ../sass/themes/_index.scss */
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    animation: cd-bounce-2 .6s;
  }
  /* line 651, ../sass/themes/_index.scss */
  .cd-timeline-content h2 {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
  }
  /* line 656, ../sass/themes/_index.scss */
  .cd-timeline-content p {
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  /* line 665, ../sass/themes/_index.scss */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    animation: cd-bounce-2-inverse .6s;
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  /* line 704, ../sass/themes/_index.scss */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    animation: cd-bounce-2-inverse .6s;
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
/* line 741, ../sass/themes/_index.scss */
#skills {
  min-height: 100vh;
  background-image: url(/public/images/plainBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
/* line 749, ../sass/themes/_index.scss */
#skills .skillsContent h1 {
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  color: #332d29;
}
/* line 755, ../sass/themes/_index.scss */
#skills .skillsContent hr {
  width: 140px;
  height: 8px;
  background: #333333;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 764, ../sass/themes/_index.scss */
#skills .skillsContent .loaders {
  text-align: center;
  margin: 30px 0 10px 0;
}
/* line 767, ../sass/themes/_index.scss */
#skills .skillsContent .loaders p {
  font-size: 16pt;
}

/* Callout */
/* line 776, ../sass/themes/_index.scss */
.callout {
  display: table;
  width: 100%;
  height: 400px;
  color: #fff;
  background: url(/public/images/callout.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* Portfolio */
/* line 790, ../sass/themes/_index.scss */
.portfolio {
  box-shadow: 5px 0px 5px 0px #888888;
  min-height: 100vh;
}
/* line 793, ../sass/themes/_index.scss */
.portfolio h2 {
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  color: #332d29;
}
/* line 799, ../sass/themes/_index.scss */
.portfolio hr {
  width: 140px;
  height: 8px;
  background: #333333;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 808, ../sass/themes/_index.scss */
.portfolio .portfolio-item {
  border: 1px solid #888888;
}

/* The Modal (background) */
/* line 814, ../sass/themes/_index.scss */
* {
  box-sizing: border-box;
}

/* line 818, ../sass/themes/_index.scss */
.row > .column {
  padding: 0 8px;
}

/* line 822, ../sass/themes/_index.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 828, ../sass/themes/_index.scss */
.column {
  float: left;
  width: 25%;
}

/* line 832, ../sass/themes/_index.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
/* line 846, ../sass/themes/_index.scss */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 1200px;
}

/* The Close Button */
/* line 856, ../sass/themes/_index.scss */
.close {
  color: #000;
  font-size: 50px;
  font-weight: bold;
  opacity: 1;
  z-index: 999;
}

/* line 867, ../sass/themes/_index.scss */
.close:hover,
.close:focus {
  color: #e0dbdb;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  z-index: 999;
}

/* line 876, ../sass/themes/_index.scss */
.mySlides {
  display: none;
}

/* line 880, ../sass/themes/_index.scss */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
/* line 885, ../sass/themes/_index.scss */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
/* line 903, ../sass/themes/_index.scss */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 909, ../sass/themes/_index.scss */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
/* line 915, ../sass/themes/_index.scss */
.numbertext {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* line 924, ../sass/themes/_index.scss */
img {
  margin-bottom: -4px;
}

/* line 928, ../sass/themes/_index.scss */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

/* line 935, ../sass/themes/_index.scss */
.demo {
  opacity: 0.6;
}

/* line 939, ../sass/themes/_index.scss */
.active,
.demo:hover {
  opacity: 1;
}

/* line 944, ../sass/themes/_index.scss */
img.hover-shadow {
  transition: 0.3s;
}

/* line 948, ../sass/themes/_index.scss */
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 952, ../sass/themes/_index.scss */
.portfolio-item {
  margin-bottom: 30px;
}

/* line 956, ../sass/themes/_index.scss */
.img-portfolio {
  margin: 0 auto;
  cursor: pointer;
}

/* line 961, ../sass/themes/_index.scss */
.img-portfolio:hover {
  opacity: 0.8;
}

/* Call to Action */
/* line 967, ../sass/themes/_index.scss */
.call-to-action {
  padding: 50px 0;
}

/* line 971, ../sass/themes/_index.scss */
.call-to-action .btn {
  margin: 10px;
}

/* Contact */
/* line 976, ../sass/themes/_index.scss */
#contact {
  min-height: 100vh;
  background-image: url(/public/images/feedback-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  /* Icons ---------------------------------- */
}
/* line 983, ../sass/themes/_index.scss */
#contact h2 {
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
/* line 989, ../sass/themes/_index.scss */
#contact hr {
  width: 140px;
  height: 8px;
  background: #d7e4ed;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 998, ../sass/themes/_index.scss */
#contact #form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}
/* line 1003, ../sass/themes/_index.scss */
#contact #form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  margin-top: 30px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
/* line 1019, ../sass/themes/_index.scss */
#contact .feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent;
}
/* line 1037, ../sass/themes/_index.scss */
#contact .feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}
/* line 1046, ../sass/themes/_index.scss */
#contact .focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}
/* line 1052, ../sass/themes/_index.scss */
#contact #name {
  background-image: url(/public/images/contact/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
/* line 1059, ../sass/themes/_index.scss */
#contact #name:focus {
  background-image: url(/public/images/contact/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
/* line 1067, ../sass/themes/_index.scss */
#contact #email {
  background-image: url(/public/images/contact/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
/* line 1074, ../sass/themes/_index.scss */
#contact #email:focus {
  background-image: url(/public/images/contact/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
/* line 1081, ../sass/themes/_index.scss */
#contact #comment {
  background-image: url(/public/images/contact/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
/* line 1088, ../sass/themes/_index.scss */
#contact textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
/* line 1095, ../sass/themes/_index.scss */
#contact input:hover, #contact textarea:hover,
#contact input:focus, #contact textarea:focus {
  background-color: white;
}
/* line 1100, ../sass/themes/_index.scss */
#contact #button-blue {
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #2D3D4D;
  color: white;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
/* line 1117, ../sass/themes/_index.scss */
#contact #button-blue:hover {
  background-color: transparent;
  color: #0493bd;
}
/* line 1122, ../sass/themes/_index.scss */
#contact .submit:hover {
  color: #3498db;
}
/* line 1126, ../sass/themes/_index.scss */
#contact .ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}
/* line 1137, ../sass/themes/_index.scss */
#contact .submit:hover .ease {
  width: 100%;
  background-color: white;
}
@media only screen and (min-width: 480px) {
  /* line 1143, ../sass/themes/_index.scss */
  #contact #form-div {
    width: 100%;
    padding: 25px;
  }
}

/* Footer */
/* line 1153, ../sass/themes/_index.scss */
footer {
  padding: 100px 0;
}

/* line 1157, ../sass/themes/_index.scss */
#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
