@import 'variables'; // colors, fonts etc...

@import 'mixin'; // custom mixins

@import 'layout'; // responsive grid and media queries

html,
body {
    width: 100%;
    height: 100%;
}

body .container {
    max-width: 1100px;
    font-family: 'Raleway', sans-serif;
}
ol, ul {
  list-style: none;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #fff;
    background-color: #333;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #000;
    background-color: #fff;
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16pt;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(/public/images/flicker-1.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .fb-hover {
        position: absolute;
        padding: 3px;
        display: none;
        font-size: 16px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
    }
    li {
        &:nth-child(1){
            div {
                margin-left: -10px;
            }
        }
        &:nth-child(3){
            div {
                margin-left: -10px;
            }
        }
        &:nth-child(4){
            div {
                margin-left: -50px;
            }
        }
    }
    a:hover + div {
        display:block;
    }
    .not-active {
        //pointer-events: none;
        cursor: default;
    }
}

/* About */

.about {
    padding: 50px 0;
    background-image: url(/public/images/plainBG.jpg);
    //background-color:rgba(48,62,73,0.9);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    .aboutMe {
        .ber {
            width: 230px;
            height: 230px;
        }
        h1 {
            font-size: 28pt;
            font-weight: bold;
            text-align: center;
            color: #332d29;
        }
        hr {
            width: 140px;
            height: 8px;
            background: #80746f;
            border: none;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        p {
            text-align: justify;
            color: #80746f;
        }
    }
    .basicInfo {
        table {
            margin-top: 40px;
            th {
                padding: 8px;
                vertical-align: top;
                img {
                    width: 32px;
                }
            }
            td {
                padding: 8px;
                p {
                    font-size: 16pt;
                    color: #80746f;
                }
            }
        }
        .resume {
            margin-top: 70px;
            text-align: center;
            .signature {
                margin: 10px 0 20px 0;
                //margin-left: 65px;
            }
            button {
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                box-shadow: 0 0 1px transparent;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-osx-font-smoothing: grayscale;
                position: relative;
                -webkit-transition-property: color;
                transition-property: color;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
            }
            button:before {
                  content: "";
                  position: absolute;
                  z-index: -1;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background: #00b36b;
                  -webkit-transform: scaleY(0);
                  transform: scaleY(0);
                  -webkit-transform-origin: 0 50%;
                  transform-origin: 0 50%;
                  -webkit-transition-property: transform;
                  transition-property: transform;
                  -webkit-transition-duration: 0.5s;
                  transition-duration: 0.5s;
                  -webkit-transition-timing-function: ease-out;
                  transition-timing-function: ease-out;
                  -webkit-border-radius: 10px;
                  -moz-border-radius: 10px;
                  border-radius: 10px;
            }
            button:hover:before, button:focus:before, button:active:before {
               -webkit-transform: scaleY(1);
               transform: scaleY(1);
               -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
               transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            }
            .downloadBtn {
                font-size: 16pt;
                width: 60%;
                border: none;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                padding: 20px 0 20px 0;
                margin-bottom: 30px;
                background: #2D3D4D;
                color: #fff;
            }
        }
    }
}

/* Resume */

#resume {
    width: 100%;
    margin-top: -15px;
    background-image: url(/public/images/flicker-3.jpg);
    background-color:rgba(48,62,73,0.9);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
        h1 {
            font-size: 28pt;
            font-weight: bold;
            text-align: center;
            color: #ffffff;
            //margin-top: 60px;
            padding: 25px 0 0 0;
        }
        hr {
            width: 140px;
            height: 8px;
            background: #d7e4ed;
            border: none;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }

}
    .cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    	width: 100%;
    	max-width: $L; // breakpoints inside partials > _layout.scss
    	margin: 0 auto;

    	&::after { /* clearfix */
    		content: '';
    		display: table;
    		clear: both;
    	}
    }
    #cd-timeline {
    	position: relative;
    	padding: 2em 0;
    	margin: {
    		top: 2em;
    		bottom: 2em;
    	}

    	&::before {
    		/* this is the vertical line */
    		content: '';
    		position: absolute;
    		top: 0;
    		left: 18px;
    		height: 100%;
    		width: 4px;
    		background: #d7e4ed;
    	}

    	@include MQ(L) {
    		margin: {
    			top: 3em;
    			bottom: 3em;
    		}

    		&::before {
    			left: 50%;
    			margin-left: -2px;
    		}
    	}
    }

    .cd-timeline-block {
    	position: relative;
    	margin: 2em 0;
    	&::after { /* clearfix */
            content: '';
            display: table;
            clear: both;
        }

    	&:first-child {
    		margin-top: 0;
    	}

    	&:last-child {
    		margin-bottom: 0;
    	}

    	@include MQ(L) {
    		margin: 4em 0;

    		&:first-child {
    			margin-top: 0;
    		}

    		&:last-child {
    			margin-bottom: 0;
    		}
    	}
    }

    .cd-timeline-img {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 40px;
    	height: 40px;
    	border-radius: 50%;
    	box-shadow: 0 0 0 4px $color-3, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

    	img {
    		display: block;
    		width: 35px;
    		height: 35px;
    		position: relative;
    		left: 50%;
    		top: 50%;
    		margin-left: -16px;
    		margin-top: -18px;
    	}

    	&.cd-picture {
    		background: #2D3D4D;
    	}

    	&.cd-movie {
    		background: $color-2;
    	}

    	&.cd-location {
    		background: $color-5;
    	}

    	@include MQ(L) {
    		width: 60px;
    		height: 60px;
    		left: 50%;
    		margin-left: -30px;

    		/* Force Hardware Acceleration in WebKit */
    		-webkit-transform: translateZ(0);
    		-webkit-backface-visibility: hidden;

    		.cssanimations &.is-hidden {
    			visibility: hidden;
    		}

    		.cssanimations &.bounce-in {
    			visibility: visible;
    			animation: cd-bounce-1 .6s;
    		}
    	}
    }

    @keyframes cd-bounce-1 {
    	0% {
    		opacity: 0;
    		transform: scale(.5);
    	}

    	60% {
    		opacity: 1;
    		transform: scale(1.2);
    	}

    	100% {
    		transform: scale(1);
    	}
    }

    .cd-timeline-content {
    	position: relative;
    	margin-left: 60px;
    	background: $color-3;
    	@include border-radius;
    	padding: 1em;
    	box-shadow: 0 3px 0 darken($background, 5%);

    	&::after { /* clearfix */
            content: '';
            display: table;
            clear: both;
        }

    	h2 {
    		color: #80746f;
    	}

    	p, .cd-read-more, .cd-date {
    		@include font-size(13px);
    	}

    	.cd-read-more, .cd-date {
    		display: inline-block;
    	}

    	p {
    		margin: 1em 0;
    		line-height: 1.6;
    		text-align: justify;
    	}

    	.cd-read-more {
    		float: right;
    		padding: .8em 1em;
    		background: $link;
    		color: $color-3;
    		@include border-radius;

    		.no-touch &:hover {
    			background-color: lighten($link, 5%);
    		}
    	}

    	.cd-date {
    		float: left;
    		padding: .8em 0;
    		opacity: .7;
    		color: #fff;
    	}

    	&::before {
    		content: '';
    		position: absolute;
    		top: 16px;
    		right: 100%;
    		height: 0;
    		width: 0;
    		border: 7px solid transparent;
    		border-right: 7px solid $color-3;
    	}

    	@include MQ(M) {
    		h2 {
    			@include font-size(20px);
    			font-family: 'Raleway', sans-serif;
    		}

    		p {
    			@include font-size(16px);
    			font-family: 'Raleway', sans-serif;
    		}

    		.cd-read-more, .cd-date {
    			@include font-size(14px);
    			color: #fff;
    		}
    	}

    	@include MQ(L) {
    		margin-left: 0;
    		padding: 1.6em;
    		width: 45%;

    		&::before {
    			top: 24px;
    			left: 100%;
    			border-color: transparent;
    			border-left-color: $color-3;
    		}

    		.cd-read-more {
    			float: left;
    		}

    		.cd-date {
    			position: absolute;
    			width: 100%;
    			left: 122%;
    			top: 6px;
    			color: #fff;
    			font-size: 16px;
    		}

    		.cd-timeline-block:nth-child(even) & {
    			float: right;

    			&::before {
    				top: 24px;
    				left: auto;
    				right: 100%;
    				border-color: transparent;
    				border-right-color: $color-3;
    			}

    			.cd-read-more {
    				float: right;
    			}

    			.cd-date {
    				left: auto;
    				right: 122%;
    				text-align: right;
    			}
    		}

    		.cssanimations &.is-hidden {
    			visibility: hidden;
    		}

    		.cssanimations &.bounce-in {
    			visibility: visible;
    			animation: cd-bounce-2 .6s;
    		}
    		h2 {
                font-size: 26px;
                font-family: 'Raleway', sans-serif;
            }

            p {
                font-size: 12pt;
                font-family: 'Raleway', sans-serif;
            }
    	}
    }

    @include MQ(L) {
    	/* inverse bounce effect on even content blocks */
    	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    		animation: cd-bounce-2-inverse .6s;
    	}
    }

    @keyframes cd-bounce-2 {
    	0% {
    		opacity: 0;
    		transform: translateX(-100px);
    	}

    	60% {
    		opacity: 1;
    		transform: translateX(20px);
    	}

    	100% {
    		transform: translateX(0);
    	}
    }

    @keyframes cd-bounce-2-inverse {
    	0% {
    		opacity: 0;
    		transform: translateX(100px);
    	}

    	60% {
    		opacity: 1;
    		transform: translateX(-20px);
    	}

    	100% {
    		transform: translateX(0);
    	}
    }

@include MQ(L) {
	/* inverse bounce effect on even content blocks */
	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
		animation: cd-bounce-2-inverse .6s;
	}
}

@keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	60% {
		opacity: 1;
		transform: translateX(20px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	60% {
		opacity: 1;
		transform: translateX(-20px);
	}

	100% {
		transform: translateX(0);
	}
}

#skills {
    min-height: 100vh;
    background-image: url(/public/images/plainBG.jpg);
    //background-color:rgba(48,62,73,0.9);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    .skillsContent {
        h1 {
            font-size: 28pt;
            font-weight: bold;
            text-align: center;
            color: #332d29;
        }
        hr {
            width: 140px;
            height: 8px;
            background: #333333;
            border: none;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        .loaders {
            text-align: center;
            margin: 30px 0 10px 0;
            p {
                font-size: 16pt;
            }
        }
    }
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(/public/images/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    box-shadow: 5px 0px 5px 0px #888888;
    min-height: 100vh;
    h2 {
        font-size: 28pt;
        font-weight: bold;
        text-align: center;
        color: #332d29;
    }
    hr {
        width: 140px;
        height: 8px;
        background: #333333;
        border: none;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .portfolio-item {
        border: 1px solid #888888;
    }
}

/* The Modal (background) */
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: #e0dbdb;
  position: absolute;
  top: 50px;
  right: 470px;
  font-size: 50px;
  font-weight: bold;
  opacity: 1;
  z-index: 999;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  z-index: 999;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Contact */
#contact {
    min-height: 100vh;
    background-image: url(/public/images/feedback-img.jpg);
    //background-color:rgba(48,62,73,0.9);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    h2 {
        font-size: 28pt;
        font-weight: bold;
        text-align: center;
        color: #fff;
    }
    hr {
        width: 140px;
        height: 8px;
        background: #d7e4ed;
        border: none;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    #form-main{
    	width:100%;
    	float:left;
    	padding-top:0px;
    }
    #form-div {
    	background-color:rgba(72,72,72,0.4);
    	padding-left:35px;
    	padding-right:35px;
    	padding-top:35px;
    	padding-bottom:50px;
    	//width: 450px;
    	//float: left;
    	//left: 50%;
    	//position: absolute;
        margin-top:30px;
    	//margin-left: -260px;
       -moz-border-radius: 7px;
       -webkit-border-radius: 7px;
    }

    .feedback-input {
    	color:#3c3c3c;
    	font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
    	font-size: 18px;
    	border-radius: 0;
    	line-height: 22px;
    	background-color: #fbfbfb;
    	padding: 13px 13px 13px 54px;
    	margin-bottom: 10px;
    	width:100%;
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-ms-box-sizing: border-box;
    	box-sizing: border-box;
        border: 3px solid rgba(0,0,0,0);
    }

    .feedback-input:focus{
    	background: #fff;
    	box-shadow: 0;
    	border: 3px solid #3498db;
    	color: #3498db;
    	outline: none;
      padding: 13px 13px 13px 54px;
    }

    .focused{
    	color:#30aed6;
    	border:#30aed6 solid 3px;
    }

    /* Icons ---------------------------------- */
    #name{
    	background-image: url(/public/images/contact/name.svg);
    	background-size: 30px 30px;
    	background-position: 11px 8px;
    	background-repeat: no-repeat;
    }

    #name:focus{
    	background-image: url(/public/images/contact/name.svg);
    	background-size: 30px 30px;
    	background-position: 8px 5px;
      background-position: 11px 8px;
    	background-repeat: no-repeat;
    }

    #email{
    	background-image: url(/public/images/contact/email.svg);
    	background-size: 30px 30px;
    	background-position: 11px 8px;
    	background-repeat: no-repeat;
    }

    #email:focus{
    	background-image: url(/public/images/contact/email.svg);
    	background-size: 30px 30px;
      background-position: 11px 8px;
    	background-repeat: no-repeat;
    }

    #comment{
    	background-image: url(/public/images/contact/comment.svg);
    	background-size: 30px 30px;
    	background-position: 11px 8px;
    	background-repeat: no-repeat;
    }

    textarea {
        width: 100%;
        height: 150px;
        line-height: 150%;
        resize:vertical;
    }

    input:hover, textarea:hover,
    input:focus, textarea:focus {
    	background-color:white;
    }

    #button-blue{
    	float:left;
    	width: 100%;
    	border: #fbfbfb solid 4px;
    	cursor:pointer;
    	background-color: #2D3D4D;
    	color:white;
    	font-size:24px;
    	padding-top:20px;
    	padding-bottom:20px;
    	-webkit-transition: all 0.3s;
    	-moz-transition: all 0.3s;
    	transition: all 0.3s;
        margin-top:-4px;
        font-weight:700;
    }

    #button-blue:hover{
    	background-color: rgba(0,0,0,0);
    	color: #0493bd;
    }

    .submit:hover {
    	color: #3498db;
    }

    .ease {
    	width: 0px;
    	height: 74px;
    	background-color: #fbfbfb;
    	-webkit-transition: .3s ease;
    	-moz-transition: .3s ease;
    	-o-transition: .3s ease;
    	-ms-transition: .3s ease;
    	transition: .3s ease;
    }

    .submit:hover .ease{
        width:100%;
        background-color:white;
    }

    @media only screen and (max-width: 580px) {
    	#form-div{
    		left: 3%;
    		margin-right: 3%;
    		width: 88%;
    		margin-left: 0;
    		padding-left: 3%;
    		padding-right: 3%;
    	}
    }
}


/* Footer */

footer {
    padding: 100px 0;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
