#{extends 'main.html' /}
#{set title:messages.get('Erwin Amular|Home') /}


<div class="wrapper">
    <!-- Background Photographer image -->
    <div class="hero">
        <div class="hero__back hero__back--static"></div>
        <div class="hero__back hero__back--mover"></div>
        <div class="hero__front"></div>
    </div>
    <!-- / Background Photographer image -->
    <!-- Start Header -->
    <header id="header">
        <a class="logo" href="/">Bear Win</a>
        <a id="nav-icon" href="#"><span class="fa fa-bars"></span></a>
    </header>
    <!-- / Header -->
    <!-- Start Menu Popup -->
    <div id="menu-popup">
        <a id="close-nav" href="#"><img src="/public/images/close-icon.png" alt=""></a>
        <nav class="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Portfolio">Portfolio</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
        <nav class="social-nav">
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="">Google+</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </nav>
    </div>
    <!-- / Menu Popup -->
    <section id="main-content">
        <div class="container">
            <div class="col-md-12">
                <div class="about-area">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente iure soluta quasi nam voluptates delectus neque eum voluptate sint ut incidunt quae modi aut aspernatur quia et sequi possimus nesciunt optio, aliquid id ratione? Architecto hic corporis itaque vitae voluptas quia. Enim eos, voluptate, at autem non unde reprehenderit minima.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dolorem eum pariatur, nulla ex atque iste dolorum odio, sed voluptatem, animi minima quia earum, perferendis quasi. Voluptates beatae atque omnis harum possimus ipsum quibusdam porro aliquid in aliquam ex reiciendis illo non quasi dolorum voluptas eligendi quis repellendus, fugiat impedit esse quo cumque sint, nam. Explicabo eius doloremque impedit vel animi hic nisi, vitae aut quia atque mollitia aspernatur quo minus tenetur facilis illum <a href="#">libero!</a></p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, repellendus.</li>
                        <li>Fugiat ratione saepe asperiores amet tenetur, sapiente labore officia, iusto?</li>
                        <li>Voluptatum vel distinctio architecto quis delectus labore asperiores sint quam.</li>
                        <li>Aperiam hic, quod similique expedita veniam eaque laudantium quibusdam commodi.</li>
                        <li>Et inventore deserunt magnam odio architecto distinctio quod. Ipsam, quisquam.</li>
                    </ul>
                    <!-- <a class="primary-btn" href="contact.html">Contact Us <span class="fa fa-envelope"></span></a> -->
                    <p>If you have any query please <a href="/Contact">contact us.</a></p>

                </div>
            </div>
        </div>
    </section>
</div>