#{extends 'main.html' /}
#{set title:messages.get('Erwin Amular|Portfolio') /}
<div class="wrapper">
    <!-- Background Photographer image -->
    <div class="hero">
        <div class="hero__back hero__back--static"></div>
    </div>
    <!-- / Background Photographer image -->
    <!-- Start Header -->
    <header id="header">
        <a class="logo" href="/">Bear Win</a>
        <a id="nav-icon" href="#"><span class="fa fa-bars"></span></a>
    </header>
    <!-- / Header -->
    <!-- Start Menu Popup -->
    <div id="menu-popup">
        <a id="close-nav" href="#"><img src="/public/images/close-icon.png" alt=""></a>
        <nav class="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Portfolio">Portfolio</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
        <nav class="social-nav">
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="">Google+</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </nav>
    </div>
    <!-- / Menu Popup -->

</div>

